.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto; /* Esto lo centra horizontalmente */
  font-family: Arial, Helvetica, sans-serif; /* Fuente principal con alternativas */
  font-size: 16px; /* Tamaño de fuente */
  line-height: 20px; /* Altura de línea */
  /* Stage 2 - 0 Background -->*/
  background-color: #ffffff; /* Color de fondo blanco */
  background-image: url("/images/background_header.svg"); /* Imagen de fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen en el fondo */
  background-size: cover; /* Hace que la imagen cubra todo el fondo */
}

/* Stage 2 - 0 Background -->*/
.header {
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px 30px;
}

/*Stage 2 - 1 Header Logo-->*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav__logo {
  width: 120px;
  height: auto;
}

/*Stage 2 - 2 - 4 nav, nav__links and nav__links-->*/
.nav__links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  text-decoration: none;
  font-size: 16px;
  color: #333; /* Ajusta el color según el diseño */
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 0.3 ease;
}

.nav__link:hover,
.nav__link:focus {
  background-color: #f0f0f0;
  color: #000;
}

/*Stage 2 - 6 - Header Block-->*/
.header__content {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin: 0;
}

.header__title {
  font-size: 62px;
  line-height: 1.2; /* Controla el espacio entre líneas */
  margin-top: 32px;
  max-width: 709px;
}

.header__title-span {
  display: block; /* Hace que "Café de especialidad" esté en su propia línea */
  font-style: italic; /* Aplica cursiva */
  margin-bottom: 5px; /* Ajusta la separación con el siguiente texto */
  color: #2f80ed; /* Azul (puedes ajustarlo según el diseño) */
}

/*Stage 2 - 7 - Header Description-->*/
.header__description {
  font-size: 20px;
  line-height: 1.2;
  margin-top: 32px;
  max-width: 632px;
}

/*Stage 2 - 8 - Header Image-->*/
.header__image-container {
  position: relative; /* Necesario para que la imagen se posicione dentro de este contenedor */
}

.header__image {
  position: absolute; /* Permite posicionar la imagen de forma precisa */
  right: -75px;
  max-width: 646px;
  max-height: 568px;
}

.header__footer {
}

.header__paragraph {
  margin: 5px 0; /* Espaciado entre los párrafos */
  font-size: 16px;
}
