/* Stage 2 - 0 Background -->*/
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto; /* Esto lo centra horizontalmente */
  font-family: Arial, Helvetica, sans-serif; /* Fuente principal con alternativas */
  font-size: 16px; /* Tamaño de fuente */
  line-height: 20px; /* Altura de línea */
  color: #000000;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #ffffff; /* Color de fondo blanco */
  background-image: url("/images/background_header.svg"); /* Imagen de fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen en el fondo */
  background-size: cover; /* Hace que la imagen cubra todo el fondo */
}

/*Stage 2 - 1 Header Logo-->*/
.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  position: relative;
  width: 105px;
  height: 39px;
  margin-bottom: 183px;
  left: 30px;
  top: 30px;
}

/*Stage 2 - 2 - 4 nav, nav__links and nav__links-->*/
.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 30px 80px 0 0;
  gap: 20px;
}

.nav__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000; /* Ajusta el color según el diseño */
  text-decoration: none;
}

/*Stage 2 - 6 - Header Block-->*/
.header__title {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 58px;
  line-height: 72px;
  font-weight: 500;
  max-width: 709px;
  letter-spacing: -1px;
  left: 80px;
}

.header__title-span {
  display: flex; /* Hace que "Café de especialidad" esté en su propia línea */
  font-style: italic; /* Aplica cursiva */
  color: #2f80ed; /* Azul (puedes ajustarlo según el diseño) */
  font-weight: normal;
  line-height: 72px;
  font-size: 58px;
}

/*Stage 2 - 7 - Header Description-->*/
.header__description {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 683px;
  margin-top: 28px;
  font-size: 20px;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  left: 80px;
}

/*Stage 2 - 8 - Header Image-->*/

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 124px;
  right: 5px;
}

/*Stage 2 - 9 - Header Footer-->*/
.header__footer {
  color: #6f6f6f;
}

.header__footer-shedule {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 80px;
  bottom: 40px;
}

/*Stage 2 - 10 - Paragraph-->*/
.header__paragraph {
  margin: 5px 0; /* Espaciado entre los párrafos */
  line-height: 0.7; /* Controla el espacio entre líneas */
}

.header__paragraph-adress {
  display: flex;
  margin-top: auto;
  position: absolute;
  right: 80px;
  bottom: 20px;
}

/* Stage 2 - 11 - Recipes -->*/
.recipes {
  background-color: #0a2850; /* Color de fondo blanco */
  background-image: url("/images/background_recipes.svg"); /* Imagen de fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen en el fondo */
  background-size: cover; /* Hace que la imagen cubra todo el fondo */
  color: #ffffff;
  margin-top: auto;
  padding: 100px 0 215px;
  height: 100vh;
}

/* Stage 2 - 12 - Recipes Title-->*/
.recipes__title {
  margin: 100px 0px 80px 0px;
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

/* Stage 2 - 13 - Recipes Description-->*/
.recipes__subtitle {
  display: flex;
  margin: 24px 0px 0px 80px;
  max-width: 438px;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

/* Stage 2 - 15 - Video Content Item-->*/
.recipes__videos {
  display: flex;
  margin: 80px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

/* Stage 2 - 16 - Video Iframe-->*/
.recipes__video-item {
  display: flex;
  width: 100%; /* Asegura que el div padre controle el ancho */
  max-width: 560px; /* Tamaño máximo */
}

/* Stage 2 - 17 - Video Caption-->*/
.recipes__video-caption {
  display: flex;
  margin: 24px 0px 215px 0px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  background-image: url("/images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #d9e7ff;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 120px;
}

.reservation__title {
  align-items: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0px auto 80px;
}

.form {
  max-width: 385px;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 48px;
}

.reservation__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

.reservation__label {
  display: block;
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.reservation__label::after {
  content: " *";
  color: #000000;
}

.reservation__input {
  width: 100%; /* Asegura que el input ocupe todo el ancho disponible */
  height: 60px; /* Altura de 60px */
  padding: 15px; /* Ajusta el padding para centrar el texto verticalmente */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
  margin-top: 8px;
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.reservation__button {
  width: 100%; /* Asegura que el botón ocupe todo el ancho disponible */
  height: 60px; /* Altura de 60px */
  display: flex;
  align-items: center; /* Centra verticalmente el texto */
  justify-content: center; /* Centra horizontalmente el texto */
  margin-top: 32px;
  background-color: #2f80ed;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 32px;
  max-width: 385px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.reservation__button:hover {
  opacity: 0.7;
}

.reservation-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__checkbox input[type="checkbox"] {
  width: 20px; /* Tamaño del checkbox */
  height: 20px; /* Tamaño del checkbox */
  margin-right: 12px;
}
